
.DS_Store

*.exr

apps/myApps/FluidMotion/ofxMidi

apps/myApps/FluidMotion/ofxOpenNI

apps/myApps/KinectMapping

addons/ofxMidi

addons/ofxOpenNI

apps/myApps/example-fluid/.DS_Store

apps/myApps/example-fluid/bin/.DS_Store
